body{
    margin: 0;
    padding: 0;
}
#main-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    padding: 50px;
}
#main-section{
    width: 60%;
    height: 500px;
}
#h1-main{
    width: 300px;
    font-size: 40px;
}

#aside-section{
    width: 40%;
    height: 500px;
}

